{% extends "template.html" %}
{% block content %}
    <div class = "jumbo">
        <h2>Popular Wikipedia Pages of Last Hour</h2>
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>Page</th>
                    <th>Count</th>
                </tr>
            </thread>
            <tbody>
                {% for name,cnt in top_hour %}
                    <tr>
                        <td>{{name|safe}}</td>
                        <td>{{cnt}}</td>
                     </tr>
                {%endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
